<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <command_store_filename>commands.xml</command_store_filename>
  <robot_spec_filename>Rhoban.Joints.RobotSpecification.xml</robot_spec_filename>
  <lowlevel_config_filename>LowLevelConfig.xml</lowlevel_config_filename>
  <robot_config_filename>MoveSchedulerConfig.xml</robot_config_filename>
  <vision_config_filename>VisionConfig.xml</vision_config_filename>
  <port>7777</port>
  <ip>192.168.1.120</ip>
  <known_ips>
    <string>127.0.0.1</string>
    <string>192.168.16.22</string>
    <string>192.168.16.60</string>
    <string>172.22.248.203</string>
    <string>172.22.40.100</string>
    <string>172.22.40.200</string>
    <string>192.168.1.2</string>
    <string>192.168.1.3</string>
    <string>192.168.1.45</string>
    <string>192.168.16.30</string>
    <string>192.168.1.120</string>
  </known_ips>
  <monitor_frequency>5</monitor_frequency>
  <monitor_error_frequency>1</monitor_error_frequency>
  <splineModelerCloudWidth>30</splineModelerCloudWidth>
  <maxPointsNbToDraw>400</maxPointsNbToDraw>
  <splineModelerMonitorFrequency>5</splineModelerMonitorFrequency>
  <ErrorPopup>false</ErrorPopup>
  <LogAllMsgs>true</LogAllMsgs>
  <AutoConnect>true</AutoConnect>
  <UseLocalisation>true</UseLocalisation>
  <UseVision>true</UseVision>
</Settings>