<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <connection_config_filename>ConnectionConfig.xml</connection_config_filename>
  <command_store_filename>commands.xml</command_store_filename>
  <robot_spec_filename>JointsSpecification.xml</robot_spec_filename>
  <lowlevel_config_filename>LowLevelConfig.xml</lowlevel_config_filename>
  <robot_config_filename>MoveSchedulerConfig.xml</robot_config_filename>
  <move_scheduler_config_filename>MoveSchedulerConfig.xml</move_scheduler_config_filename>
  <vision_config_filename>VisionConfig.xml</vision_config_filename>
  <use_zmq>false</use_zmq>
  <monitor_frequency>5</monitor_frequency>
  <monitor_error_frequency>1</monitor_error_frequency>
  <splineModelerCloudWidth>30</splineModelerCloudWidth>
  <maxPointsNbToDraw>400</maxPointsNbToDraw>
  <splineModelerMonitorFrequency>5</splineModelerMonitorFrequency>
  <ErrorPopup>false</ErrorPopup>
  <LogAllMsgs>true</LogAllMsgs>
  <AutoConnect>true</AutoConnect>
  <UseLocalisation>true</UseLocalisation>
  <UseVision>true</UseVision>
</Settings>